{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread"
  ],
  "env": {
    "development": {
      "presets": [
        "babel-preset-power-assert"
      ]
    }
  }
}
